/*
CrispHive Developer API

Public REST API for integrating CrispHive from your own backend. Authenticate every request with a secret API key as a Bearer token (`Authorization: Bearer chsk_live_…`). The key prefix selects the data environment: `chsk_live_…` → production (live), `chsk_test_…` → sandbox (isolated test).  **Key scopes (restricted keys).** A key is either *full-access* (can call every endpoint below) or *restricted* to a set of permission codes chosen at creation — the same codes as the dashboard permission grid (e.g. `customers_view`, `job_create`, `team_manage`). A restricted key calling an endpoint outside its scope gets `403`. The full code list is the permission catalog (`GET /permission/modules` on the dashboard API). Create, scope, and revoke keys from the business dashboard.  Every response is wrapped in the envelope `{ \"error_code\": 0, \"message\": \"Success\", \"data\": <payload> }`.

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package crisphive

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// JobRequestBusinessAPIService JobRequestBusinessAPI service
type JobRequestBusinessAPIService service

type ApiCreateJobRequestRequest struct {
	ctx context.Context
	ApiService *JobRequestBusinessAPIService
	jobRequestCreateRequest *JobRequestCreateRequest
	xTimezone *string
}

// Booking payload
func (r ApiCreateJobRequestRequest) JobRequestCreateRequest(jobRequestCreateRequest JobRequestCreateRequest) ApiCreateJobRequestRequest {
	r.jobRequestCreateRequest = &jobRequestCreateRequest
	return r
}

// Customer IANA timezone
func (r ApiCreateJobRequestRequest) XTimezone(xTimezone string) ApiCreateJobRequestRequest {
	r.xTimezone = &xTimezone
	return r
}

func (r ApiCreateJobRequestRequest) Execute() (*CreateJobRequest200Response, *http.Response, error) {
	return r.ApiService.CreateJobRequestExecute(r)
}

/*
CreateJobRequest Create a job request (business actor)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateJobRequestRequest
*/
func (a *JobRequestBusinessAPIService) CreateJobRequest(ctx context.Context) ApiCreateJobRequestRequest {
	return ApiCreateJobRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateJobRequest200Response
func (a *JobRequestBusinessAPIService) CreateJobRequestExecute(r ApiCreateJobRequestRequest) (*CreateJobRequest200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateJobRequest200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobRequestBusinessAPIService.CreateJobRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/job-requests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jobRequestCreateRequest == nil {
		return localVarReturnValue, nil, reportError("jobRequestCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTimezone != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Timezone", r.xTimezone, "simple", "")
	}
	// body params
	localVarPostBody = r.jobRequestCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetJobRequestRequest struct {
	ctx context.Context
	ApiService *JobRequestBusinessAPIService
	id string
}

func (r ApiGetJobRequestRequest) Execute() (*GetJobRequest200Response, *http.Response, error) {
	return r.ApiService.GetJobRequestExecute(r)
}

/*
GetJobRequest Get a job request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Job request ID (UUID or short_code)
 @return ApiGetJobRequestRequest
*/
func (a *JobRequestBusinessAPIService) GetJobRequest(ctx context.Context, id string) ApiGetJobRequestRequest {
	return ApiGetJobRequestRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetJobRequest200Response
func (a *JobRequestBusinessAPIService) GetJobRequestExecute(r ApiGetJobRequestRequest) (*GetJobRequest200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetJobRequest200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobRequestBusinessAPIService.GetJobRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/job-requests/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetJobRequestTimelineRequest struct {
	ctx context.Context
	ApiService *JobRequestBusinessAPIService
	id string
}

func (r ApiGetJobRequestTimelineRequest) Execute() (*GetJobRequestTimeline200Response, *http.Response, error) {
	return r.ApiService.GetJobRequestTimelineExecute(r)
}

/*
GetJobRequestTimeline Job timeline (business surface — also serves tech via BusinessAuth)

Per-status events[] composed from workflow snapshot + scattered
typed cols + action_audit. FE renders as the Job Timeline
panel (completed step = filled check, current = outline ring,
upcoming = empty). entered_at nil for upcoming steps + older
jobs missing the typed-col backfill.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Job request ID (UUID or short_code)
 @return ApiGetJobRequestTimelineRequest
*/
func (a *JobRequestBusinessAPIService) GetJobRequestTimeline(ctx context.Context, id string) ApiGetJobRequestTimelineRequest {
	return ApiGetJobRequestTimelineRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetJobRequestTimeline200Response
func (a *JobRequestBusinessAPIService) GetJobRequestTimelineExecute(r ApiGetJobRequestTimelineRequest) (*GetJobRequestTimeline200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetJobRequestTimeline200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobRequestBusinessAPIService.GetJobRequestTimeline")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/job-requests/{id}/timeline"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListJobRequestBookingWindowsRequest struct {
	ctx context.Context
	ApiService *JobRequestBusinessAPIService
	xTimezone *string
	from *string
	to *string
}

// Customer IANA timezone
func (r ApiListJobRequestBookingWindowsRequest) XTimezone(xTimezone string) ApiListJobRequestBookingWindowsRequest {
	r.xTimezone = &xTimezone
	return r
}

// Start YYYY-MM-DD
func (r ApiListJobRequestBookingWindowsRequest) From(from string) ApiListJobRequestBookingWindowsRequest {
	r.from = &from
	return r
}

// End YYYY-MM-DD
func (r ApiListJobRequestBookingWindowsRequest) To(to string) ApiListJobRequestBookingWindowsRequest {
	r.to = &to
	return r
}

func (r ApiListJobRequestBookingWindowsRequest) Execute() (*ListJobRequestBookingWindows200Response, *http.Response, error) {
	return r.ApiService.ListJobRequestBookingWindowsExecute(r)
}

/*
ListJobRequestBookingWindows Booking availability (business actor)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListJobRequestBookingWindowsRequest
*/
func (a *JobRequestBusinessAPIService) ListJobRequestBookingWindows(ctx context.Context) ApiListJobRequestBookingWindowsRequest {
	return ApiListJobRequestBookingWindowsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListJobRequestBookingWindows200Response
func (a *JobRequestBusinessAPIService) ListJobRequestBookingWindowsExecute(r ApiListJobRequestBookingWindowsRequest) (*ListJobRequestBookingWindows200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListJobRequestBookingWindows200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobRequestBusinessAPIService.ListJobRequestBookingWindows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/job-requests/booking-windows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xTimezone == nil {
		return localVarReturnValue, nil, reportError("xTimezone is required and must be specified")
	}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Timezone", r.xTimezone, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListJobRequestChangesRequest struct {
	ctx context.Context
	ApiService *JobRequestBusinessAPIService
	statusKeys *string
	priority *string
	customerId *string
	technicianId *string
	scheduledFrom *string
	scheduledTo *string
	since *string
	limit *int32
}

// Comma-separated status slugs — only surface changes to jobs in these statuses
func (r ApiListJobRequestChangesRequest) StatusKeys(statusKeys string) ApiListJobRequestChangesRequest {
	r.statusKeys = &statusKeys
	return r
}

// Priority filter (normal|emergency)
func (r ApiListJobRequestChangesRequest) Priority(priority string) ApiListJobRequestChangesRequest {
	r.priority = &priority
	return r
}

// Only changes to this customer&#39;s jobs (UUID)
func (r ApiListJobRequestChangesRequest) CustomerId(customerId string) ApiListJobRequestChangesRequest {
	r.customerId = &customerId
	return r
}

// Only changes to jobs assigned to this technician (UUID)
func (r ApiListJobRequestChangesRequest) TechnicianId(technicianId string) ApiListJobRequestChangesRequest {
	r.technicianId = &technicianId
	return r
}

// Filter from (YYYY-MM-DD or RFC3339); range is [from, to)
func (r ApiListJobRequestChangesRequest) ScheduledFrom(scheduledFrom string) ApiListJobRequestChangesRequest {
	r.scheduledFrom = &scheduledFrom
	return r
}

// Filter to (YYYY-MM-DD or RFC3339), exclusive
func (r ApiListJobRequestChangesRequest) ScheduledTo(scheduledTo string) ApiListJobRequestChangesRequest {
	r.scheduledTo = &scheduledTo
	return r
}

// RFC3339 cursor from the prior response&#39;s next_since. OMIT on the first poll to prime the cursor at server-now.
func (r ApiListJobRequestChangesRequest) Since(since string) ApiListJobRequestChangesRequest {
	r.since = &since
	return r
}

// Max changes per poll (default 15, max 1000). If the page fills, has_more&#x3D;true.
func (r ApiListJobRequestChangesRequest) Limit(limit int32) ApiListJobRequestChangesRequest {
	r.limit = &limit
	return r
}

func (r ApiListJobRequestChangesRequest) Execute() (*ListJobRequestChanges200Response, *http.Response, error) {
	return r.ApiService.ListJobRequestChangesExecute(r)
}

/*
ListJobRequestChanges Poll for new & changed job requests (sync feed)

Keep your own copy of bookings in sync WITHOUT re-listing everything: returns the job requests whose state changed (created, status transition, reschedule, soft-delete/archive) at or after the `since` cursor, ordered oldest-change-first (updated_at ASC).

How to use it: (1) On your first poll OMIT `since` — the server primes the cursor at "now", returns no items and a `next_since`. (2) Store `next_since` and pass it as `since` on the next poll. (3) Apply each returned item to your store by UPSERTING on `id` (the server re-scans a ~5s safety window, so the same job may appear again — never blindly append). (4) If `has_more` is true the page filled to `limit` and more changes are already waiting — poll again immediately; otherwise wait your normal interval (e.g. 5–15s).

This is NOT pagination — it is a time-keyed change feed. Use the paginated GET /job-requests for the initial bulk load, then this endpoint to stay live. Filters (status_keys, customer_id, …) narrow the feed to the slice you care about.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListJobRequestChangesRequest
*/
func (a *JobRequestBusinessAPIService) ListJobRequestChanges(ctx context.Context) ApiListJobRequestChangesRequest {
	return ApiListJobRequestChangesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListJobRequestChanges200Response
func (a *JobRequestBusinessAPIService) ListJobRequestChangesExecute(r ApiListJobRequestChangesRequest) (*ListJobRequestChanges200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListJobRequestChanges200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobRequestBusinessAPIService.ListJobRequestChanges")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/job-requests/changes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.statusKeys != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status_keys", r.statusKeys, "form", "")
	}
	if r.priority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", r.priority, "form", "")
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customer_id", r.customerId, "form", "")
	}
	if r.technicianId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "technician_id", r.technicianId, "form", "")
	}
	if r.scheduledFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduled_from", r.scheduledFrom, "form", "")
	}
	if r.scheduledTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduled_to", r.scheduledTo, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListJobRequestsRequest struct {
	ctx context.Context
	ApiService *JobRequestBusinessAPIService
	statusKeys *string
	status *string
	customerId *string
	technicianId *string
	scheduledFrom *string
	scheduledTo *string
	q *string
	sort *string
	page *int32
	limit *int32
}

// Comma-separated status slugs
func (r ApiListJobRequestsRequest) StatusKeys(statusKeys string) ApiListJobRequestsRequest {
	r.statusKeys = &statusKeys
	return r
}

// active (default) | archived | all
func (r ApiListJobRequestsRequest) Status(status string) ApiListJobRequestsRequest {
	r.status = &status
	return r
}

// Customer UUID
func (r ApiListJobRequestsRequest) CustomerId(customerId string) ApiListJobRequestsRequest {
	r.customerId = &customerId
	return r
}

// Technician UUID
func (r ApiListJobRequestsRequest) TechnicianId(technicianId string) ApiListJobRequestsRequest {
	r.technicianId = &technicianId
	return r
}

// Filter from (YYYY-MM-DD or RFC3339); range is [from, to)
func (r ApiListJobRequestsRequest) ScheduledFrom(scheduledFrom string) ApiListJobRequestsRequest {
	r.scheduledFrom = &scheduledFrom
	return r
}

// Filter to (YYYY-MM-DD or RFC3339), exclusive
func (r ApiListJobRequestsRequest) ScheduledTo(scheduledTo string) ApiListJobRequestsRequest {
	r.scheduledTo = &scheduledTo
	return r
}

// Search short_code or description (case-insensitive, partial match)
func (r ApiListJobRequestsRequest) Q(q string) ApiListJobRequestsRequest {
	r.q = &q
	return r
}

// Sort key
func (r ApiListJobRequestsRequest) Sort(sort string) ApiListJobRequestsRequest {
	r.sort = &sort
	return r
}

// Page number
func (r ApiListJobRequestsRequest) Page(page int32) ApiListJobRequestsRequest {
	r.page = &page
	return r
}

// Page size
func (r ApiListJobRequestsRequest) Limit(limit int32) ApiListJobRequestsRequest {
	r.limit = &limit
	return r
}

func (r ApiListJobRequestsRequest) Execute() (*ListJobRequests200Response, *http.Response, error) {
	return r.ApiService.ListJobRequestsExecute(r)
}

/*
ListJobRequests List job requests

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListJobRequestsRequest
*/
func (a *JobRequestBusinessAPIService) ListJobRequests(ctx context.Context) ApiListJobRequestsRequest {
	return ApiListJobRequestsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListJobRequests200Response
func (a *JobRequestBusinessAPIService) ListJobRequestsExecute(r ApiListJobRequestsRequest) (*ListJobRequests200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListJobRequests200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobRequestBusinessAPIService.ListJobRequests")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/job-requests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.statusKeys != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status_keys", r.statusKeys, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customer_id", r.customerId, "form", "")
	}
	if r.technicianId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "technician_id", r.technicianId, "form", "")
	}
	if r.scheduledFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduled_from", r.scheduledFrom, "form", "")
	}
	if r.scheduledTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduled_to", r.scheduledTo, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
